<%-include('layouts/header', {title: 'home'}) %>

<%-include('partials/menu') %>
<div class="jumbotron rounded-0 jumbo_promotion d-flex align-items-center mb-0" style="color: #ffffff;" id="jumbo_promotion">
    <div class="description container">
        <h1 class="text-center mb-3" style="font-size: 70px;">Los mejores autos usados</h1>
        <p class="text-center mb-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus nobis iure necessitatibus, placeat similique commodi consequuntur in optio eius culpa</p>
        <form action="/product/searching" method="POST" class="row d-flex flex-wrap justify-content-around">
                <% if(brands){ %>
                    <select id="brand" name="brand" class="form-control border-0 capitalize">
                        <option id="empty" value="" selected="selected" disabled>Seleccione una marca</option>
                        <% for(i=0; i<brands.length; i++){ %>
                        <option class="capitalize" value="<%= brands[i] %>" name="<%= brands[i] %>"><%= brands[i] %></option>
                        <% } %>
                    </select>
                <% } %>
            <select class="form-control border-0 capitalize" name="model" id="model_select" disabled>
                <option>seleccione un modelo</option>
            </select>
            <button class="btn btn-warning searching_btn border-0" id="searching_btn">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                </svg>Buscar
            </button>
        </form>
    </div>
</div>
s
<div class="how_it_works">
    <div class="container">
        <h2 class="text-center mb-5">Como funciona</h2>
        <div class="row d-flex flex-wrap justify-content-between">
            <div class="col-12 col-lg-4  mb-5 mb-lg-0">
                <div class="img_container">
                    <img class="img-fluid rounded" src="../img/1.jpg" alt="arreglar auto">
                </div>
                <h5 class="text-center mt-4 mb-4">Lorem ipsum dolor.</h5>
                <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam ipsa dolore fugit ipsum perferendis illo ea vel sed eius fuga?</p>
            </div>
            <div class="col-12 col-lg-4  mb-5 mb-lg-0">
                <div class="img_container">
                    <img class="img-fluid rounded" src="../img/2.jpg" alt="buscar en linea">
                </div>
                <h5 class="text-center mt-4 mb-4">Lorem ipsum dolor.</h5>
                <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam ipsa dolore fugit ipsum perferendis illo ea vel sed eius fuga?</p>
            </div>
            <div class="col-12 col-lg-4  mb-5 mb-lg-0">
                <div class="img_container rounded">
                    <img class= "img-fluid rounded" src="../img/3.jpg" alt="pagar">
                </div>
                <h5 class="text-center mt-4 mb-4">Lorem ipsum dolor.</h5>
                <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam ipsa dolore fugit ipsum perferendis illo ea vel sed eius fuga?</p>
            </div>
        </div>
    </div>
</div>      
    <%-include('partials/new_arrivals') %>
    <section class="aditional_info">
        <div class="aditional_info_background bg-light"></div>
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-12 col-md-6">
                    <img class="img-fluid rounded" src="../img/inspection1.jpg" alt="">
                </div>
                <div class="col-12 col-md-6">
                    <h3 class="mb-4">Lorem ipsum dolor</h3>
                    <p class="text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur illum deleniti ducimus error distinctio quae cum esse placeat, officiis atque, quos, officia pariatur? Minima corporis optio, asperiores ipsum voluptate ut!</p>
                </div>
            </div>
            <div class="row d-flex align-items-center mt-5">
                <div class="col-12 col-md-6">
                    <h3 class="mb-4">Lorem ipsum dolor</h3>
                    <p class="text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur illum deleniti ducimus error distinctio quae cum esse placeat, officiis atque, quos, officia pariatur? Minima corporis optio, asperiores ipsum voluptate ut!</p>
                </div>
                <div class="col-12 col-md-6">
                    <img class="img-fluid rounded" src="../img/maser.jpg" alt="masserati">
                </div>
            </div>
            <div class="row d-flex align-items-center mt-5">
                <div class="col-12 col-md-6">
                    <img class="img-fluid rounded" src="../img/parking.jpg" alt="">
                </div>
                <div class="col-12 col-md-6">
                    <h3 class="mb-4">Lorem ipsum dolor</h3>
                    <p class="text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur illum deleniti ducimus error distinctio quae cum esse placeat, officiis atque, quos, officia pariatur? Minima corporis optio, asperiores ipsum voluptate ut!</p>
                </div>
            </div>
            <div class="row d-flex align-items-center mt-5">
                <div class="col-12 col-md-6">
                    <h3 class="mb-4">Lorem ipsum dolor</h3>
                    <p class="text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur illum deleniti ducimus error distinctio quae cum esse placeat, officiis atque, quos, officia pariatur? Minima corporis optio, asperiores ipsum voluptate ut!</p>
                </div>
                <div class="col-12 col-md-6">
                    <img class="img-fluid rounded" src="../img/driving.jpg" alt="masserati">
                </div>
            </div>
        </div>
    </section>
    <section class="logos">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center mb-5">Las mejores marcas</h2>
                </div>
                <div class="col-6 mb-4 col-md-2 mb-md-0">
                    <img class="img-fluid" src="../img/bentley.png" alt="bentley">
                </div>
                <div class="col-6 mb-4 col-md-2 mb-md-0">
                    <img class="img-fluid" src="../img/bmw.png" alt="ferrari">
                </div>
                <div class="col-6 mb-4 col-md-2 mb-md-0">
                    <img class="img-fluid" src="../img/ferrari.png" alt="">
                </div>
                <div class="col-6 mb-4 col-md-2 mb-md-0">
                    <img class="img-fluid" src="../img/fiat.png" alt="fiat">
                </div>
                <div class="col-6 col-md-2">
                    <img class="img-fluid" src="../img/lotus.png" alt="lotus">
                </div>
                <div class="col-6 col-md-2">
                    <img class="img-fluid" src="../img/alfa.png" alt="alfa">
                </div>
            </div>
        </div>
    </section>
</div>
<%-include('partials/most_viewed') %>
<%-include('partials/footer') %>
<%-include('layouts/footer') %>