<%-include('layouts/header', {title: 'home'}) %>
<%-include('partials/menu') %>
<%-include('partials/filters') %>
<% if(search_by_brand_and_model){ %>  
    <div class="container mb-5" style="margin-top: 80px;"> 
        <div class="row d-flex justify-content-between new_page_content">
            <% for(i of search_by_brand_and_model){ %>
                <div class="card more_viewed_card mb-5 border-0 shadow-sm p-0">
                    <div class="img_container">
                        <img src="../upload/<%= i.image[0].file_name %>" class="card-img-top img-fluid" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><%= i.brand %> <%= i.model %></h5>
                        <div class="d-flex justify-content-between mb-3">
                            <span class="col-5 bg-light p-2 rounded-lg"><%= i.transmision %></span>
                            <span class="col-5 bg-light p-2 rounded-lg"><%= i.cylinder_capacity %> L</span>
                        </div>
                        <h5 class="mb-3"><%= i.mileaje %> km</h5>
                        <h5 class="mb-3"><%= i.price %>  COP</h5>
                        <a href="/product/<%= i._id%>" class="btn btn-outline-danger d-block">Ver más</a>
                    </div>
                </div>
            <% } %>
          </div>
    </div>
<% } %>
<%-include('partials/footer') %>    
<%-include('layouts/footer') %>  